/* Debug */
.g {
  background-color: chartreuse !important;
}
.m {
  background-color: magenta;
}
.y {
  background-color: yellow;
}

.br {
  border: 4px solid red;
}
.bb {
  border: 4px solid blue;
}
.bc {
  border: 4px solid cyan;
}


/* Flexbox structure */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.Body.wrap {
  flex: 1;
}
.wrap {
  display: flex;
  justify-content: center;
}
.inner {
  /*background: lime;*/
  flex-basis: 1000px;
}

/* Color */
.Header.wrap, .Header.inner, .nav-left, .nav-center, .nav-right, .nav-toggle {
  background-color: #2f2f2f !important;
  color: whitesmoke;
}
.nav-toggle:hover {
  background-color: whitesmoke !important;
}
.nav-toggle span {
  background-color: whitesmoke !important;
}
svg {
  fill: whitesmoke;
}
.nav-toggle:hover span {
  background-color: #2f2f2f !important;
}

/* Web apps rule */
.web-app, .nav-right .nav-item div:hover .get-app {
  display: none !important;
}
.get-app, .nav-right .nav-item div:hover .web-app {
  display: block !important;
}
.nav-item div .button:hover {
  cursor: not-allowed !important;
}

/* Other */
.Header svg {
  width: 50px;
  height: 50px;
}

.Footer {
  border-top: 1px solid lightgray;
  background: whitesmoke;
  text-align: center;
  padding: 8px;
}

.Body h1 {
  text-align: center;
  padding: 16px;
}

.Body-container {
  display: flex;
  flex-flow: row wrap;
  /*justify-content: space-around;*/
}

.Card {
  background: white;
  flex: 0 0 33.333%;
  display: flex;
}
.Card:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.Card-inner {
  flex: 1;
  background-size: cover;
}
@media(min-width: 200px) {
  .Card-inner {
    margin: 8px;
  }
}

/* Bio */
@media(max-width: 449px) {
  .hide-small {
    display: none;
  }
}
@media(min-width: 450px) {
  .hide-not-small {
    display: none;
  }
}

/* Overlap */

.Card-overlay {
  position: relative;
}
.Card-overlay:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
}
