body, h1, h2 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.modal-dialog {
  /*left: auto;
  margin-right: auto;*/
}
.custom-modal {
  /*background: lime;*/
  /*height: 90%;*/
  width: 90%;

  /*border-radius: 0;*/
  /*width: 100vw;*/
  /*margin: 0;*/
  /*padding: 0;*/

  /*height: 100% !important;*/

}

.custom-modal .modal-body {
  padding: 0;
}

.custom-modal > .modal-content {
  /*background: magenta;*/
  /*width: 94vw;*/
  /*margin-left: -24vw;*/

  /*height: 100% !important;*/

}

.modal-open, .fade.in.modal {
  padding-right: 0 !important;
}
